{
  "extension": [
    ".js",
    ".ts"
  ],
  "include": [
    "src/app/**"
  ],
  "exclude": [
    "coverage",
    "src/test/",
    "node_modules"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "cache": false,
  "all": true
}
